.button70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 5px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button70:active {
    background-image: linear-gradient(#0dccea, #f04115);
    font-weight: bold;
}

h1 {
    color: #faf7f7;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    //text-shadow: 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
}

.box {
    background-color: #ffbedd;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2;
    justify-content: center;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
}

body {
    background-color: #ffdaec;
}

input {
    width: 175px;
    height: 25px;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

    :focus {
        border-color: #0366d6;
        outline: none;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }

}